div.preview-images > img {
    width: 30%;
  }
 
  
  .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    flex: 1;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-image: linear-gradient(#f2b51d,#f2da30);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }

  .main {
    margin-left: 100px; /* Same as the width of the sidebar */
    flex: 4;
  }

  .parent{
    display: flex;
    flex-wrap: wrap;
    
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }