
<nav>
  <h3 style="text-align: center;">Create new Blog Post</h3>
</nav>

<div class="container" >
  <div class="w3-sidebar w3-bar-block" style="width: 10%; float: left;">
    <img src="../assets/createPostSidebar.jpg" alt="side bar image">
  </div>
  <div class="row" style="float: right; width: 80%;">
    <div>
      
      <form 
        enctype="multipart/form-data"
        [formGroup]='blogDetails'
        (ngSubmit)='onSubmit(blogDetails.value)'
      >
        <div>
          <div class="form-group row">
            <input type="text" style="width : 75%; padding:12px 20px 10px ; box-sizing: border-box;" placeholder="Enter Title Here" id="blogTopic" formControlName='blogTopic' />
            <button  style="width: auto; padding:12px 20px 10px ;  margin-left: 5px;" type="submit" class="btn btn-primary">Save</button>
          </div>
          <div class="form-group row">
            <div style="width: 75%; float: left;" >
              <quill-editor class="form-control-file border" name="body" id="body" formControlName='body' placeholder="Enter Body text here" [styles]="{height: '200px'}" ></quill-editor>
            </div>
            <div style="width: auto; float:right; ">
              <label for="category">Category</label> <br>
              <select name="category" id="category" formControlName='category'>
                <option *ngFor='let cat of categorySet'>{{cat}}</option>
              </select>
              <br><br>
              <label for="subcategory">Sub-category</label> <br>
              <select name="subcategory" id="subcategory" formControlName='subcategory'>
                <option *ngFor='let cat of subCategorySet'>{{cat}}</option>
              </select>
            </div>
          </div>
          <div style="float: left; width: 50%">
            <input type="file" name="blogImage" id="blogImage" formControlName='blogImage' class=" border"/>

          </div>
          <div class="card" style="float: right; width: 50%;">
            <input type="text" id='videoURL' formControlName='videoURL' placeholder="Enter video URL" #uri>
            <button (click)="set2(uri)">Verify</button>
            <div class="ythumb"><img src="{{thumb}}"/></div>
          </div>
        </div>
        
      </form>
    </div>
  </div>
  



  <!-- <script>
    $(document).ready(function() {
      let imagesPreview = function(input, placeToInsertImagePreview) {
        if (input.files) {
          let filesAmount = input.files.length;
          for (i = 0; i < filesAmount; i++) {
            let reader = new FileReader();
            reader.onload = function(event) {
              $($.parseHTML("<img>"))
                .attr("src", event.target.result)
                .appendTo(placeToInsertImagePreview);
            };
            reader.readAsDataURL(input.files[i]);
          }
        }
      };
      $("#input-files").on("change", function() {
        imagesPreview(this, "div.preview-images");
      });
    });
  </script> -->